/* --------------------------------------------------- body ---------------------------------------------------------------- */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  box-sizing: border-box;
}

/* --------------------------------------------------- tab bar section ------------------------------------------------------ */

/* tabs section */
.tabs-holder {
  background-color: #133882;
  height: 70px !important;
}

.tabs-holder .nav-tabs .nav-link.active,
.tabs-holder .nav-tabs .nav-link {
  background-color: transparent;
  border: none;
  color: white;
  border-radius: 0;
  padding: 10px 15px;
}

.tabs-holder .nav.nav-tabs {
  text-align: center;
  border: none;
  overflow-x: auto;
  overflow-y: hidden !important;
  white-space: nowrap;
  display: block;
  padding: 1% 0;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tabs-holder .nav-tabs .nav-link:hover,
.tabs-holder .nav-tabs .nav-link.active:hover {
  background: white;
  color: #2c5ed3 !important;
}

.tabs-holder .nav-tabs .nav-link i {
  margin-right: 10px;
  font-size: 20px;
}

.tabs-holder .nav-tabs .nav-item {
  display: inline-block;
}

.tab-content > .tab-pane {
  margin: 0;
  padding: 0;
}

.tabs-holder .nav-tabs .nav-item .tab-action-btn {
  color: white;
  margin-right: 20px !important;
}

.tabs-holder .nav-tabs .nav-item .tab-action-btn:hover {
  color: #2c5ed3 !important;
}

/* --------------------------------------------------- tab bar profile dropdown ----------------------------------------------- */

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > a:after {
  border: none;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: -100%;
  margin-top: 0px;
  margin-left: 0px;
}

.tabs-holder .nav-tabs .fa-smile {
  font-size: 23px !important;
}

#emoji_dropdownMenu1 {
  position: fixed;
  opacity: 0;
}

#emoji_dropdownMenu2 {
  padding-left: 12px !important;
}

@media only screen and (max-width: 900px) {
  .sub_menu_responsive.dropdown-menu {
    position: inherit !important;
    left: 0 !important;
  }

  .tabs-holder .nav.nav-tabs {
    padding-left: 50px;
    padding-right: 50px;
  }
}

/* --------------------------------------- tab bar edit and business card profile modal -------------------------------------- */

#profileModal .modal-dialog .modal-content .modal-header,
#businessCardModal .modal-dialog .modal-content .modal-header {
  background-color: #133882;
  color: white;
}

#profileModal .close,
#businessCardModal .close,
#chatModal .close {
  color: white !important;
}

#profileModal .col-md-6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

#profileModal .modal-dialog .modal-footer .btn,
#businessCardModal .modal-dialog .modal-footer .btn {
  background-color: #133882 !important;
  color: white;
}

#businessCardModal .modal-dialog .modal-content .modal-body h6,
#businessCardModal .modal-dialog .modal-content .modal-body h2 {
  padding-top: 5px;
  padding-bottom: 5px;
}

@media (min-width: 768px) {
  #profileModal .modal-dialog {
    max-width: 1000px !important;
    margin: 2rem auto !important;
    padding: 20px;
  }
}

@media (max-width: 576px) {
  #profileModal .modal-dialog,
  #businessCardModal .modal-dialog {
    max-width: 500px !important;
    margin: 2rem auto !important;
    padding: 20px !important;
  }

  #profileModal .modal-body {
    height: 320px;
    overflow-y: auto;
  }

  #profileModal .modal-footer {
    padding: 0.5rem !important;
  }

  #profileModal .modal-footer .profile-modal-footer-btn {
    text-align: center;
  }
}

/*---------------------------------------------------- notification modal -------------------------------------------*/
#notification-btn {
  position: absolute;
  bottom: 30px;
  right: 20px;
  z-index: 1000;
}

#notification-modal-dialog {
  min-width: 280px;
  max-width: 200px;
  position: absolute;
  bottom: -15px;
  right: 10px;
  max-height: 88vh;
  z-index: 1000;
}

#notification-modal-header {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  color: #133882 !important;
}

.modal-dialog-scrollable .modal-body {
  max-height: 85vh;
  overflow-y: auto !important;
}

.list-group-item,
.list-group-item:first-child {
  border: none !important;
  padding: 0 !important;
}

.notification-username {
  background-color: #133882;
}

@media only screen and (max-width: 450px) {
  #notification-modal-dialog {
    max-width: 100%;
    right: 5px;
    left: 5px;
  }

  .image-logo-position {
    display: none;
  }
}

/* --------------------------------------------------- chat Modal ------------------------------------------------------------ */

#chat-modal-btn {
  position: absolute;
  bottom: 30px;
  right: 100px;
  z-index: 1000;
}

.modal-open #chatModal.modal {
  overflow-y: hidden !important;
}

@media (min-width: 768px) {
  #chatModal .modal-dialog {
    max-width: 1100px !important;
    margin: 2rem auto !important;
    padding: 20px;
    /* max-height: 90vh !important; */
  }
}

#chatModal .modal-dialog .modal-body {
  padding: 0 !important;
  /* max-height: 90vh !important; */
  /* overflow: auto; */
}

.main_chat_screen_container,
.main_chat_screen_container .row,
.main_chat_screen_container .row .individual_screen {
  height: 85vh;
}

.messages {
  background: #fbfbfb;
}

.online_users {
  background: #ffffff;
  padding: 15px;
  padding-top: 0;
}

#chatModal .navbar {
  padding: 0 !important;
}

.messages {
  padding: 0;
}

.scroll_content {
  overflow: auto;
  height: 85vh;
}

.individual_screen .header {
  border-bottom: 1px solid #b2b3b6;
  padding-top: 15px;
  position: relative;
}

.individual_screen .cursor {
  cursor: pointer;
}

.individual_screen .header i {
  position: absolute;
  right: 10px;
  top: 25px;
  color: #2096f3;
}

.message_indicator_box {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 15px 15px;
  margin-top: 5px;
  cursor: pointer;
}

.message_indicator_box.active {
  background-image: linear-gradient(
    90deg,
    #2096f3 10%,
    #409de2 30%,
    #4ebeda 60%
  );
}

.message_indicator_box.active i {
  color: white;
}

.message_indicator_box.active p {
  color: white;
}

.message_indicator_box img {
  height: 35px;
}

.message_indicator_box i {
  color: #2096f3;
}

.message_indicator_box p {
  margin: auto 15px;
}

.messages_header {
  background: #2d2e33;
  padding: 15px;
}

.messages_header .close_button {
  float: right;
  display: none;
}

.messages_header i {
  color: #2096f3;
  margin-right: 10px;
}

.messages_header p {
  margin: 0;
  display: inline;
  color: white;
}

.input_holder {
  border-top: 1px solid #e9e8e8;
  padding: 15px 10px;
  position: relative;
}

.input_holder input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #b2b3b6;
}

.input_holder button {
  position: absolute;
  top: 25px;
  right: 20px;
  border-radius: 100%;
  background-color: #b2b3b6;
}

.input_holder button i {
  color: white;
}

.messages_scroll {
  width: 100%;
  height: 68vh;
  display: flex;
  flex-direction: column-reverse;
  padding: 10px 15px;
}

.single_message_container {
  width: 100%;
}

.single_message {
  max-width: 400px;
  display: flex;
  flex-direction: row;
  margin: 10px 0;
  border-radius: 6px;
  padding: 10px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.single_message_container.recipient .single_message {
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
  background-color: #f2f2f2;
}

.single_message_container.myself .single_message {
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-right: 0;
  margin-left: auto;
  flex-direction: row-reverse;
  background-image: linear-gradient(
    90deg,
    #2096f3 10%,
    #409de2 30%,
    #4ebeda 60%
  );
}

.single_message_container.recipient .single_message .message_text p {
  color: #828181;
}

.single_message_container.recipient .single_message .message_text p b,
.single_message_container.recipient .single_message .message_text p small {
  color: #828181;
}

.single_message .img_holder img {
  width: 40px;
}

.single_message .img_holder {
  padding-top: 10px;
}

.single_message .message_text {
  width: 100%;
  padding: 10px;
  padding-bottom: 0;
}

.single_message .message_text p {
  margin-bottom: 5px;
  color: white;
}

.single_message .message_text p b,
.single_message .message_text p small {
  color: white;
}

/* responsive scripts */
@media screen and (max-width: 960px) {
  .single_message {
    max-width: 350px;
  }

  .messages_header .close_button {
    display: block;
  }
}

.message_indicator_box.company {
  position: relative;
}

.message_indicator_box.company p {
  margin-top: 0;
}

.message_indicator_box.company small {
  position: absolute;
  top: 40px;
  left: 65px;
}

a {
  text-decoration: none !important;
}

/* --------------------------------------------------tab contents------------------------------------------------------------ */
.jumbotron {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* --------------------------------------------------- lobby tab content ---------------------------------------------------- */

/* lobby header image jumbotron */
#lobby .lobby-jumbotron-container .jumbotron {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
    url("https://images.unsplash.com/photo-1583953458882-302655b5c376?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80");
  height: 500px;
  color: wheat;
  position: relative;
}

#lobby .lobby-jumbotron-container .jumbotron .container,
#auditorium .jumbotron .container {
  position: absolute;
  bottom: 50px;
  left: 16px;
}

/* grid system  jumbotron*/
#lobby .grid-container .row .auditorium-container .jumbotron,
#lobby .grid-container .row .exhibition-container .jumbotron,
#lobby .grid-container .row .networking-container .jumbotron {
  height: 500px;
}

#lobby .grid-container .row .auditorium-container .jumbotron {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
    url("https://images.unsplash.com/photo-1560184611-ff3e53f00e8f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1187&q=80");
  color: wheat;
}

#lobby .grid-container .row .exhibition-container .jumbotron {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
    url("https://images.unsplash.com/photo-1518998053901-5348d3961a04?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80");
  color: wheat;
}

#lobby .grid-container .row .networking-container .jumbotron {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
    url("https://images.unsplash.com/photo-1446776653964-20c1d3a81b06?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80");
  color: wheat;
}

#lobby .grid-container .row .event-guide-container .jumbotron,
#lobby .grid-container .row .agenda-container .jumbotron,
#lobby .grid-container .row .faq-container .jumbotron {
  height: 170px;
  background-color: #133882;
  color: white;
}

#lobby .grid-container .row .event-guide-container .jumbotron:hover,
#lobby .grid-container .row .agenda-container .jumbotron:hover,
#lobby .grid-container .row .faq-container .jumbotron:hover {
  opacity: 0.8;
  transition: opacity 0.3s;
}

/*-------------------------------- auditorium and exhibition jumbotron tab content ----------------------------------------*/

#auditorium .auditorium-jumbotron-container .jumbotron,
#exhibition_hall .expo-hall-jumbotron-container .jumbotron {
  height: 350px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
    url("https://images.unsplash.com/photo-1560184611-ff3e53f00e8f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1187&q=80");
  color: wheat;
}

#auditorium .auditorium-jumbotron-container .jumbotron .container,
#exhibition_hall .jumbotron .container {
  position: absolute;
  bottom: 80px;
  right: 0;
}

/*---------------------------------------------- auditorium tab content ----------------------------------------------------*/
#auditorium .auditorium-jumbotron-container .jumbotron {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
    url("https://images.unsplash.com/photo-1560184611-ff3e53f00e8f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1187&q=80");
}

@media (max-width: 330px) {
  #auditorium .auditorium-jumbotron-container .jumbotron .container h1 {
    font-size: 3rem;
  }
}

#auditorium .grid-container .row .agenda-container-1 .jumbotron,
#auditorium .grid-container .row .agenda-container-2 .jumbotron,
#auditorium .grid-container .row .faq-container .jumbotron {
  height: 300px;
  background-color: #133882;
  color: white;
}

#auditorium .grid-container .row .agenda-container-1 .jumbotron:hover,
#auditorium .grid-container .row .agenda-container-2 .jumbotron:hover,
#auditorium .grid-container .row .faq-container .jumbotron:hover {
  opacity: 0.8;
  transition: opacity 0.3s;
}

@media (max-width: 768px) {
  #auditorium .grid-container .row .agenda-container-1 .jumbotron,
  #auditorium .grid-container .row .agenda-container-2 .jumbotron,
  #auditorium .grid-container .row .faq-container .jumbotron {
    height: 170px !important;
    background-color: #133882;
    color: white;
  }
}

/* ---------------------------------------------------auditorium event modal-----------------------------------------  */
.event-modal-dialog {
  max-width: 70% !important;
  width: 70% !important;
  position: absolute;
  top: 90px;
  left: 15%;
  bottom: 0;
  z-index: 100000;
  margin: 0 !important;
}

.event-modal-header {
  background-color: #133882;
  color: white;
}

#even-modal-body {
  max-height: 480px;
  overflow: auto;
}

#close-event-btn {
  color: white !important;
}

.event-body-container .btn:hover {
  background-color: #133882 !important;
}

.event-body-container .event-content-p {
  font-size: 0.8rem;
  margin-bottom: 0 !important;
}

.event-body-container i {
  color: #133882;
  font-size: 30px;
}

@media (max-width: 768px) {
  .event-list-item {
    margin: 10px 10px !important;
  }
}

@media (max-width: 576px) {
  .event-modal-dialog {
    max-width: 90% !important;
    width: 90% !important;
    position: absolute;
    top: 20px;
    left: 5%;
    bottom: 0;
    z-index: 100000;
    margin: 0 !important;
    max-height: 400px;
  }
}

/*-----------------------------------------------  expo hall tab content ----------------------------------------------------*/
#exhibition_hall .expo-hall-jumbotron-container .jumbotron {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
    url("https://images.unsplash.com/photo-1518998053901-5348d3961a04?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80");
}

/* slick carousel  */
#exhibition_hall .exhibitors-container {
  background-color: #133882;
  padding-top: 10px;
}

#exhibition_hall .exhibitors-container .multiple-items {
  margin-left: 50px;
  margin-right: 50px;
}

#exhibition_hall .exhibitors-container .multiple-items .booth-image {
  margin-bottom: 30px;
}

#exhibition_hall .exhibitors-container .multiple-items img {
  height: 30vh;
}

#exhibition_hall .exhibitors-container .multiple-items a {
  color: white !important;
}

#exhibition_hall .exhibitors-container .multiple-items p {
  margin-bottom: 0 !important;
}

@media (min-width: 768px) {
  .slick-slide {
    height: 77vh !important;
  }

  .slick-slide .slick-current {
    /* padding-left: 100px !important;
    width: 1000px !important; */
  }
}

@media (max-width: 576px) {
  #exhibition_hall .exhibitors-container .multiple-items img {
    height: 100px;
  }
}

/*------------------------------------------------  booth expo hall  ------------------------------------------------ */
#booth {
  height: 100%;
  margin: 0;
  background-image: url("../images/background1.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#booth .main-container {
  width: 100%;
  padding: 50px;
}

/*  header container */

/* left alignment */
@media (min-width: 576px) {
  #booth .main-container .header-container .header-heading {
    margin-left: -17px;
  }
}

#booth .main-container .header-container .header-heading h3 {
  text-align: center;
  background-color: white;
  padding: 20px;
  font-size: 3rem !important;
  color: #3c185e;
}

#booth .main-container .header-container .header-text {
  padding: 10px;
}

#booth .main-container .header-container .header-text h6 {
  color: white !important;
  font-size: 1.5rem !important;
  text-align: center;
}

/* call to action container */
#booth .main-container .call-to-action-container {
  width: 100%;
}

/*  tab container  */
#booth .nav.nav-pills .nav-item {
  margin-bottom: 20px;
}

#booth .row .col-md-3.navi {
  background-color: white;
  padding: 15px !important;
  height: 100%;
}

#booth .nav-item .nav-link {
  color: #97a9bd;
}

#booth .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-image: linear-gradient(90deg, #133882 20%, #0164e5 80%) !important;
}

/* tab content */

@media (min-width: 768px) {
  #booth .col-md-9 .tab-content {
    min-height: 390px;
  }
}

#booth .col-md-9 .tab-content {
  background: white;
}

#booth .col-md-9 .tab-content .tab-pane {
  padding: 20px;
}

#booth .col-md-9 .tab-content .tab-pane h2 {
  color: #97a9bd;
  margin-bottom: 3%;
}

#booth .col-md-9 .tab-content .tab-pane.active {
  overflow: auto;
  max-height: 100vh !important;
  min-height: 50px;
}

/* download brochures and meet now tab -tab component*/
#booth .col-md-9 .tab-content .tab-pane .content .gradient-container {
  width: 100%;
  background-image: linear-gradient(90deg, #133882 20%, #0164e5 80%) !important;
  color: white;
  position: relative;
  border-radius: 0.25rem;
}

#booth .col-md-9 .tab-content .tab-pane .content .gradient-container p {
  margin-bottom: 0 !important;
  padding: 10px;
  margin: 10px;
}

#booth .col-md-9 .tab-content .tab-pane .content .gradient-container p i {
  color: white;
  font-size: 30px;
}

#booth
  .col-md-9
  .tab-content
  .tab-pane
  .content
  .gradient-container
  .download-btn {
  color: #0264e5;
}

@media (min-width: 577px) {
  #booth
    .col-md-9
    .tab-content
    .tab-pane
    .content
    .gradient-container
    .download-btn {
    position: absolute;
    right: 10px;
    bottom: 8px;
  }
}

@media (max-width: 576px) {
  #booth
    .col-md-9
    .tab-content
    .tab-pane
    .content
    .gradient-container
    .download-btn {
    margin-bottom: 10px;
  }
}

/* manager button */
#booth .manager-container .manager-btn-container {
  margin-left: auto;
  display: flex;
  align-items: center;
}

#booth .manager-container .manager-btn-container .download-btn {
  color: #0264e5;
}

/* manager icon */
#booth .manager-container .manager-icon-container {
  display: flex;
  align-items: center;
  padding: 10px;
}

#booth .manager-container .manager-icon-container i {
  color: white;
  font-size: 30px;
}

/* custom manager tab-content */
#booth .manager-container {
  display: flex;
  flex-direction: row;
  padding: 10px;
  width: 100%;
  border-radius: 0.25rem;
  margin-bottom: 15px;
}

/* manager main content */
#booth .manager-container .manager-main-content {
  display: flex;
  flex-direction: column;
}

#booth .manager-container .manager-main-content h4,
#booth .manager-container .manager-main-content p {
  margin: 0 !important;
  padding: 0 !important;
}

#booth .manager-container .manager-main-content p {
  font-size: 14px;
  margin-top: 4px !important;
}

/* utilities */
#booth .app_theme_bg-primary {
  background-image: linear-gradient(90deg, #133882 20%, #0164e5 80%) !important;
  color: white;
}

/* image gallery container  tab */
#booth .col-md-9 .tab-content .tab-pane .content .image-gallery-container img {
  width: 200px;
  /* You can set the dimensions to whatever you want */
  height: 200px;
  object-fit: cover;
}
