/* --------------------------------------------------- body ---------------------------------------------------------------- */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  box-sizing: border-box;
}

/* --------------------------------------------------- tab bar section ------------------------------------------------------ */

/* tabs section */
.tabs-holder {
  background-color: #133882;
  height: 70px !important;
}

.tabs-holder .nav-tabs .nav-link.active,
.tabs-holder .nav-tabs .nav-link {
  background-color: transparent;
  border: none;
  color: white;
  border-radius: 0;
  padding: 10px 15px;
}

.tabs-holder .nav.nav-tabs {
  text-align: center;
  border: none;
  overflow-x: auto;
  overflow-y: hidden !important;
  white-space: nowrap;
  display: block;
  padding: 1% 0;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tabs-holder .nav-tabs .nav-link:hover,
.tabs-holder .nav-tabs .nav-link.active:hover {
  background: white;
  color: #2c5ed3 !important;
}

.tabs-holder .nav-tabs .nav-link i {
  margin-right: 10px;
  font-size: 20px;
}

.tabs-holder .nav-tabs .nav-item {
  display: inline-block;
}

.tab-content>.tab-pane {
  margin: 0;
  padding: 0;
}

.tabs-holder .nav-tabs .nav-item .tab-action-btn {
  color: white;
  margin-right: 20px !important;
}

.tabs-holder .nav-tabs .nav-item .tab-action-btn:hover {
  color: #2c5ed3 !important;
}

/* --------------------------------------------------- tab bar profile dropdown ----------------------------------------------- */

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>a:after {
  content: "\f0da";
  float: right;
  border: none;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: 0px;
  margin-left: 0px;
}

.tabs-holder .nav-tabs .fa-smile {
  font-size: 23px !important;
}

#emoji_dropdownMenu1 {
  position: fixed;
  /* visibility: hidden; */
  opacity: 0;
}

@media only screen and (max-width: 900px) {
  .sub_menu_responsive.dropdown-menu {
    position: inherit !important;
    left: 0 !important;
  }

  .tabs-holder .nav.nav-tabs {
    padding-left: 50px;
    padding-right: 50px;
  }
}

/* --------------------------------------------------- tab bar edit profile modal -------------------------------------------- */

#profileModal .modal-dialog .modal-content .modal-header {
  background-color: #133882;
  color: white;
}

#profileModal .close {
  color: white !important;
}

#profileModal .col-md-6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

#profileModal .modal-dialog .modal-footer .btn {
  background-color: #133882 !important;
  color: white;
}


@media (min-width: 768px) {
  #profileModal .modal-dialog {
    max-width: 1000px !important;
    margin: 2rem auto !important;
    padding: 20px;
  }
}

@media (max-width: 576px) {
  #profileModal .modal-dialog {
    max-width: 500px !important;
    margin: 2rem auto !important;
    padding: 20px !important;
  }

  #profileModal .modal-body {
    height: 320px;
    overflow-y: auto;
  }

  #profileModal .modal-footer {
    padding: 0.5rem !important;
  }

  #profileModal .modal-footer .profile-modal-footer-btn {
    text-align: center;
  }
}

/* --------------------------------------------------tab contents------------------------------------------------------------ */
.jumbotron {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* --------------------------------------------------- lobby tab content ---------------------------------------------------- */

/* lobby header image jumbotron */
#lobby .lobby-jumbotron-container .jumbotron {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
    url("https://images.unsplash.com/photo-1583953458882-302655b5c376?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80");
  height: 500px;
  color: wheat;
  position: relative;
}

#lobby .lobby-jumbotron-container .jumbotron .container,
#auditorium .jumbotron .container {
  position: absolute;
  bottom: 50px;
  left: 16px;
}

/* grid system  jumbotron*/
#lobby .grid-container .row .auditorium-container .jumbotron,
#lobby .grid-container .row .exhibition-container .jumbotron,
#lobby .grid-container .row .networking-container .jumbotron {
  height: 500px;
}

#lobby .grid-container .row .auditorium-container .jumbotron {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
    url("https://images.unsplash.com/photo-1560184611-ff3e53f00e8f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1187&q=80");
  color: wheat;
}

#lobby .grid-container .row .exhibition-container .jumbotron {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
    url("https://images.unsplash.com/photo-1518998053901-5348d3961a04?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80");
  color: wheat;
}

#lobby .grid-container .row .networking-container .jumbotron {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
    url("https://images.unsplash.com/photo-1446776653964-20c1d3a81b06?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80");
  color: wheat;
}

#lobby .grid-container .row .event-guide-container .jumbotron,
#lobby .grid-container .row .agenda-container .jumbotron,
#lobby .grid-container .row .faq-container .jumbotron {
  height: 170px;
  background-color: #133882;
  color: white;
}

#lobby .grid-container .row .event-guide-container .jumbotron:hover,
#lobby .grid-container .row .agenda-container .jumbotron:hover,
#lobby .grid-container .row .faq-container .jumbotron:hover {
  opacity: 0.8;
  transition: opacity 0.3s;
}

/*-------------------------------- auditorium and exhibition jumbotron tab content ----------------------------------------*/

#auditorium .auditorium-jumbotron-container .jumbotron,
#exhibition_hall .expo-hall-jumbotron-container .jumbotron {
  height: 350px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
    url("https://images.unsplash.com/photo-1560184611-ff3e53f00e8f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1187&q=80");
  color: wheat;
}

#auditorium .auditorium-jumbotron-container .jumbotron .container,
#exhibition_hall .jumbotron .container {
  position: absolute;
  bottom: 80px;
  right: 0;
}

/*---------------------------------------------- auditorium tab content ----------------------------------------------------*/
#auditorium .auditorium-jumbotron-container .jumbotron {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
    url("https://images.unsplash.com/photo-1560184611-ff3e53f00e8f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1187&q=80");
}

@media (max-width: 330px) {
  #auditorium .auditorium-jumbotron-container .jumbotron .container h1 {
    font-size: 3rem;
  }
}

#auditorium .grid-container .row .agenda-container-1 .jumbotron,
#auditorium .grid-container .row .agenda-container-2 .jumbotron,
#auditorium .grid-container .row .faq-container .jumbotron {
  height: 300px;
  background-color: #133882;
  color: white;
}

#auditorium .grid-container .row .agenda-container-1 .jumbotron:hover,
#auditorium .grid-container .row .agenda-container-2 .jumbotron:hover,
#auditorium .grid-container .row .faq-container .jumbotron:hover {
  opacity: 0.8;
  transition: opacity 0.3s;
}

@media (max-width: 768px) {

  #auditorium .grid-container .row .agenda-container-1 .jumbotron,
  #auditorium .grid-container .row .agenda-container-2 .jumbotron,
  #auditorium .grid-container .row .faq-container .jumbotron {
    height: 170px !important;
    background-color: #133882;
    color: white;
  }
}

/* ---------------------------------------------------auditorium event modal-----------------------------------------  */
.event-modal-dialog {
  max-width: 90% !important;
  width: 90% !important;
  position: absolute;
  top: 90px;
  left: 5%;
  bottom: 0;
  z-index: 100000;
  margin: 0 !important;
}

.event-modal-header {
  background-color: #133882;
  color: white;
}

.container .about-heading .title {
  font-weight: 900;
  font-size: 42px;
}

.container .about-heading .sessions {
  color: #133882;
}

.container .about-heading .lead {
  color: #133882;
  margin: 2% auto;
}

#even-modal-body {
  max-height: 600px;
  overflow: auto;
}

#close-event-btn {
  color: white !important;
}

.event-body-container .btn:hover {
  background-color: #133882 !important;
}

.event-body-container .event-content-p {
  font-size: 0.8rem;
  margin-bottom: 0 !important;
}

.event-body-container i {
  color: #133882;
  font-size: 25px;
}

@media (max-width: 768px) {
  .event-list-item {
    margin: 10px 10px !important;
  }
}

/*-----------------------------------------------  expo hall tab content ----------------------------------------------------*/
#exhibition_hall .expo-hall-jumbotron-container .jumbotron {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
    url("https://images.unsplash.com/photo-1518998053901-5348d3961a04?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80");
}

/* slick carousel  */
#exhibition_hall .exhibitors-container {
  background-color: #133882;
  padding-top: 50px;
}

#exhibition_hall .exhibitors-container .multiple-items {
  margin-left: 50px;
  margin-right: 50px;
}

#exhibition_hall .exhibitors-container .multiple-items img {
  height: 30vh;
  margin-bottom: 30px;
}

#exhibition_hall .exhibitors-container .multiple-items a {
  color: white !important;
}

#exhibition_hall .exhibitors-container .multiple-items p {
  margin-bottom: 0 !important;
}

@media (max-width: 576px) {
  #exhibition_hall .exhibitors-container .multiple-items img {
    height: 100px;
  }
}

/*------------------------------------------------  booth expo hall  ------------------------------------------------ */
#booth {
  height: 100%;
  margin: 0;
  background-image: url("../images/background1.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#booth .main-container {
  width: 100%;
  padding: 50px;
}

/*  header container */

/* left alignment */
@media (min-width: 576px) {
  #booth .main-container .header-container .header-heading {
    margin-left: -17px;
  }
}

#booth .main-container .header-container .header-heading h3 {
  text-align: center;
  background-color: white;
  padding: 20px;
  font-size: 3rem !important;
  color: #3c185e;
}

#booth .main-container .header-container .header-text {
  padding: 10px;
}

#booth .main-container .header-container .header-text h6 {
  color: white !important;
  font-size: 1.5rem !important;
  text-align: center;
}

/* call to action container */
#booth .main-container .call-to-action-container {
  width: 100%;
}

/*  tab container  */
#booth .nav.nav-pills .nav-item {
  margin-bottom: 20px;
}

#booth .row .col-md-3.navi {
  background-color: white;
  padding: 15px !important;
  height: 100%;
}

#booth .nav-item .nav-link {
  color: #97a9bd;
}

#booth .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: #fff;
  background-image: linear-gradient(90deg, #133882 20%, #0164e5 80%) !important;
}

/* tab content */

@media (min-width: 768px) {
  #booth .col-md-9 .tab-content {
    min-height: 390px;
  }
}

#booth .col-md-9 .tab-content {
  background: white;
}

#booth .col-md-9 .tab-content .tab-pane {
  padding: 20px;
}

#booth .col-md-9 .tab-content .tab-pane h2 {
  color: #97a9bd;
  margin-bottom: 3%;
}

#booth .col-md-9 .tab-content .tab-pane.active {
  overflow: auto;
  max-height: 100vh !important;
  min-height: 50px;
}

/* download brochures and meet now tab -tab component*/
#booth .col-md-9 .tab-content .tab-pane .content .gradient-container {
  width: 100%;
  background-image: linear-gradient(90deg, #133882 20%, #0164e5 80%) !important;
  color: white;
  position: relative;
  border-radius: 0.25rem;
}

#booth .col-md-9 .tab-content .tab-pane .content .gradient-container p {
  margin-bottom: 0 !important;
  padding: 10px;
  margin: 10px;
}

#booth .col-md-9 .tab-content .tab-pane .content .gradient-container p i {
  color: white;
  font-size: 30px;
}

#booth .col-md-9 .tab-content .tab-pane .content .gradient-container .download-btn {
  color: #0264e5;
}

@media (min-width: 577px) {
  #booth .col-md-9 .tab-content .tab-pane .content .gradient-container .download-btn {
    position: absolute;
    right: 10px;
    bottom: 8px;
  }
}

@media (max-width: 576px) {
  #booth .col-md-9 .tab-content .tab-pane .content .gradient-container .download-btn {
    margin-bottom: 10px;
  }
}

/* manager button */
#booth .manager-container .manager-btn-container {
  margin-left: auto;
  display: flex;
  align-items: center;
}

#booth .manager-container .manager-btn-container .download-btn {
  color: #0264e5;
}

/* manager icon */
#booth .manager-container .manager-icon-container {
  display: flex;
  align-items: center;
  padding: 10px;
}

#booth .manager-container .manager-icon-container i {
  color: white;
  font-size: 30px;
}

/* custom manager tab-content */
#booth .manager-container {
  display: flex;
  flex-direction: row;
  padding: 10px;
  width: 100%;
  border-radius: 0.25rem;
  margin-bottom: 15px;
}

/* manager main content */
#booth .manager-container .manager-main-content {
  display: flex;
  flex-direction: column;
}

#booth .manager-container .manager-main-content h4,
#booth .manager-container .manager-main-content p {
  margin: 0 !important;
  padding: 0 !important;
}

#booth .manager-container .manager-main-content p {
  font-size: 14px;
  margin-top: 4px !important;
}

/* utilities */
#booth .app_theme_bg-primary {
  background-image: linear-gradient(90deg, #133882 20%, #0164e5 80%) !important;
  color: white;
}

/* image gallery container  tab */
#booth .col-md-9 .tab-content .tab-pane .content .image-gallery-container img {
  width: 200px;
  /* You can set the dimensions to whatever you want */
  height: 200px;
  object-fit: cover;
}